
*, *::after, ::before, *:after, *:before {
    box-sizing: border-box
}

body {
background-color:blueviolet;
margin: 3rem;
}

main {
    min-height: 60vh;
}


.crono {

    color: cornflowerblue;
    font-size: 3rem;
}
